<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials.html :: head ('Blog')"></head>

<body>
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: nav-component"></nav>

    <!--HEADER-->
    <section th:replace="/partials/partials.html :: header-section ('Show Blog(s)')"></section>


    <div th:if="${post}">
        <p>We have a post: Title <span th:text="${post.title}"></span></p>
        <p>Body: <br>
            <span th:text="${post.body}"></span>
        </p>
    </div>
    <div th:if="${posts}">
        <ul>
            <li th:each="postIt: ${posts}">
                <p> Title <span th:text="${postIt.title}"></span></p>
                <p>Body: <br>
                    <span th:text="${postIt.body}"></span>
                </p>
            </li>
        </ul>

    </div>


    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>


</body>
</html>